# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET
DB_HOST='mongodb://20079110:webapp@ds155288.mlab.com:55288/20079110'
PORT=9000
API_KEY=AIzaSyARG5-n8k_Fyzri_7zlC06_KUVqxbFt-h0

# note: .env is a shell file so there can't be spaces around =
