.has-bg-img { 
  background: 
    linear-gradient(141deg, rgba(0,158,108, 0.75) 0%, rgba(0,209,178,0.75) 71%, rgba(0,231,235,0.75) 100%),
    url('https://cdn.glitch.com/b56e6ceb-db4f-4b4a-a912-508995a1e27c%2Fplaceholder.jpg?1520809083386') center center; 
  background-size: cover; 
}

.tile-card.card:hover {
  background: rgba(0,0,0,0.2);
}

.tile-card .card-image i {
  color: #3273dc;
}

.tile-card .card:hover .tile-card .card-image i {
  color: #363636;
}

#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1;
}

.app-footer {
  padding: 2em 0 !important;
}

.app-content {
  margin: 0 auto; 
  padding: 3rem 0;
}

.category-icon {
  padding: 1em 0;
}

.main-navbar {
  padding: 20px 0;
}

.breadcrumb li + li::before {
  color: #fff;
}

[v-cloak] {
  display: none;
}