<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
  <div>
    
    <section class="hero is-danger is-fullheight">

      <% include ../../partials/navbar %>
    
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= status %>
          </h1>
          <h2 class="subtitle">
            <%= error %>
          </h2>
        </div>
      </div>
    </section>

  </div>
  <script src="/js/vue.min.js"></script>
</body>
</html>