<div class="card has-text-centered">
  <div class="card-image">
    <!-- <i class="fa-4x" :class="icon" style="padding: 1em 0"></i> -->
    <div id="map" style="min-height:200px"></div>
  </div>
  <div class="card-content">
    <div class="content">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Devin Mendez</p>
            <p class="title"><i class="fas fa-user"></i></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Victoria, Seychelles</p>
            <p class="title"><i class="fas fa-home"></i></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">+555 555-5555</p>
            <p class="title"><i class="fas fa-phone"></i></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">devinmendez@fake.com</p>
            <p class="title"><i class="fas fa-at"></i></p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>