@charset 'UTF-8';

.has-bg-img { 
  background: 
    linear-gradient(141deg, rgba(0,158,108, 0.75) 0%, rgba(0,209,178,0.75) 71%, rgba(0,231,235,0.75) 100%),
    url('/images/placeholder.jpg') center center; 
  background-size: cover; 
}

.tile-card.card:hover {
  background: rgba(0,0,0,0.2);
}

.tile-card .card-image i {
  color: #3273dc;
}

.tile-card .card:hover .tile-card .card-image i {
  color: #363636;
}

#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1;
}

.hero-foot {
  padding: 1em;
}